@model SyncApp.ViewModel.ConfigurationsModel

@{
    ViewData["Title"] = "Edit";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

    <h4>Configurations </h4>
    <hr />

    <form action="Edit" method="post">
        <input type="hidden" asp-for="Configurations.Id" />

        <section id="general-content">
            <h5>General Configurations </h5>
            <hr />
            <div class="container">
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label asp-for="Configurations.NotificationEmail" class="control-label">Notification Email</label>
                        <input type="email" asp-for="Configurations.NotificationEmail" class="form-control" />
                    </div>
                    <div class="form-group col-sm-6">
                        <label asp-for="Configurations.InventoryUpdateEveryMinute" class="control-label">Inventory Update Frequency in Minutes</label>
                        <input min="1" max="59" asp-for="Configurations.InventoryUpdateEveryMinute" class="form-control" />
                    </div>
                    <div class="form-group col-sm-6">
                        <label asp-for="Configurations.WareHouseCode" class="control-label">WareHouse Code</label>
                        <input asp-for="Configurations.WareHouseCode" class="form-control" />
                    </div>
                    <div class="form-group col-sm-6">
                        <label asp-for="Configurations.CustoemrCode" class="control-label">Customer code</label>
                        <input asp-for="Configurations.CustoemrCode" class="form-control" />
                    </div>
                    <div class="form-group col-sm-6">
                        <label asp-for="Configurations.BranchCodeReceipt" class="control-label">Branch Code for Receipts</label>
                        <input asp-for="Configurations.BranchCodeReceipt" class="form-control" />
                    </div>
                    <div class="form-group col-sm-6">
                        <label asp-for="Configurations.BranchcodeSalesInvoices" class="control-label">Branch code for Sales Invoices</label>
                        <input asp-for="Configurations.BranchcodeSalesInvoices" class="form-control" />
                    </div>
                    <div class="form-group col-sm-6">
                        <label asp-for="Configurations.SiteName" class="control-label">Site Name</label>
                        <input asp-for="Configurations.SiteName" class="form-control" />
                    </div>
                </div>
            </div>
        </section>

        <section id="ftp-content">
            <h5>FTP Configurations </h5>
            <hr />
            <div class="container">
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label asp-for="Configurations.FtpHost" class="control-label">Ftp Host Url</label>
                        <input asp-for="Configurations.FtpHost" class="form-control" />
                    </div>
                    <div class="form-group col-sm-6">
                        <label asp-for="Configurations.FtpHost" class="control-label">Ftp User Name</label>
                        <input asp-for="Configurations.FtpUserName" class="form-control" />
                    </div>
                    <div class="form-group col-sm-6">
                        <label asp-for="Configurations.FtpUserName" class="control-label">Ftp Password</label>
                        <input asp-for="Configurations.FtpPassword" class="form-control" />
                    </div>
                    <div class="form-group col-sm-6">
                        <label asp-for="Configurations.FtpPassword" class="control-label">Ftp Port</label>
                        <input asp-for="Configurations.FtpPassword" class="form-control" />
                    </div>
                </div>
            </div>
        </section>
        <section id="emailSMTP-content">
            <h5>Sender Email & SMTP Configurations </h5>
            <hr />
            <div class="container">
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label asp-for="Configurations.FtpPort" class="control-label">Smtp Host</label>
                        <input asp-for="Configurations.FtpPort" class="form-control" />
                    </div>
                    <div class="form-group col-sm-6">
                        <label asp-for="Configurations.SmtpHost" class="control-label">Smtp Port</label>
                        <input asp-for="Configurations.SmtpHost" class="form-control" />
                    </div>
                    <div class="form-group col-sm-6">
                        <label asp-for="Configurations.SmtpPort" class="control-label">Sender Email</label>
                        <input readonly asp-for="Configurations.SmtpPort" class="form-control" />
                    </div>
                    <div class="form-group col-sm-6">
                        <label asp-for="Configurations.SenderEmail" class="control-label">Sender email Password</label>
                        <input readonly asp-for="Configurations.SenderEmail" class="form-control" />
                    </div>
                    <div class="form-group col-sm-6">
                        <label asp-for="Configurations.SenderemailPassword" class="control-label">Email Display Name</label>
                        <input asp-for="Configurations.SenderemailPassword" class="form-control" />
                    </div>
                </div>
            </div>
        </section>
        <section id="store-content">
            <h5>Store Configurations</h5>
            <hr />
            <div class="container">
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label asp-for="Configurations.DisplayName" class="control-label">Store Url</label>
                        <input asp-for="Configurations.DisplayName" class="form-control" />
                    </div>
                    <div class="form-group col-sm-6">
                        <label asp-for="Configurations.StoreUrl" class="control-label">Api Key</label>
                        <input asp-for="Configurations.StoreUrl" class="form-control" />
                    </div>
                    <div class="form-group col-sm-6">
                        <label asp-for="Configurations.ApiKey" class="control-label">Api Secret</label>
                        <input asp-for="Configurations.ApiKey" class="form-control" />
                    </div>
                </div>
            </div>
        </section>


        <section id="dailyReciept-content">
            <h5>Daily Reciept Configurations </h5>
            <hr />
            <div class="container">
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label asp-for="Configurations.ApiSecret" class="control-label">Daily Reciept Export Hour</label>
                        <input asp-for="Configurations.ApiSecret" class="form-control" min="0" max="23" />
                    </div>
                    <div class="form-group col-sm-6">
                        <label asp-for="Configurations.DailyRecieptsHour" class="control-label">Daily Reciept Export Minute</label>
                        <input asp-for="Configurations.DailyRecieptsHour" class="form-control" min="0" max="59" />
                    </div>
                    <section id="dailyReport-content">
                        <h6>PayPlus Configurations</h6>
                        <hr />
                        <div class="container">
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label asp-for="Configurations.PayPlusUrl" class="control-label">PayPlus Url</label>
                                    <input readonly asp-for="Configurations.PayPlusUrl" class="form-control"/>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label asp-for="Configurations.PayPlusApiKey" class="control-label">PayPlus Api Key</label>
                                    <input asp-for="Configurations.PayPlusApiKey" class="form-control" />
                                </div>
                                <div class="form-group col-sm-6">
                                    <label asp-for="Configurations.PayPlusSecretKey" class="control-label">PayPlus Secret Key</label>
                                    <input asp-for="Configurations.PayPlusSecretKey" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>

        <section id="dailySales-content">
            <h5>Daily Sales Configurations </h5>
            <hr />
            <div class="container">
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label asp-for="Configurations.DailyRecieptsMinute" class="control-label">Daily Sales Export Hour</label>
                        <input asp-for="Configurations.DailyRecieptsMinute" class="form-control" min="0" max="23" />
                    </div>
                    <div class="form-group col-sm-6">
                        <label asp-for="Configurations.DailySalesHour" class="control-label">Daily Sales Export Minute</label>
                        <input asp-for="Configurations.DailySalesHour" class="form-control" min="0" max="59" />
                    </div>
                </div>
            </div>
        </section>


        <section id="dailyReport-content">
            <h5>Daily Report Configurations</h5>
            <hr />
            <div class="container">
                <div class="row">
                    <div class="form-group col-sm-6">

                        <label asp-for="Configurations.ReportEmailAddress1" class="control-label">First Daily Report Email Address</label>
                        <input type="email" asp-for="Configurations.ReportEmailAddress1" class="form-control" required />

                    </div>

                    <div class="form-group col-sm-6">

                        <label asp-for="Configurations.ReportEmailAddress2" class="control-label">Second Daily Report Email Address</label>
                        <input type="email" asp-for="Configurations.ReportEmailAddress2" class="form-control" required />

                    </div>
                </div>
            </div>
            <h5>First Daily Report Schedule</h5>
            <hr />
            <div class="container">
                <div class="row">
                    <input type="hidden" asp-for="ThirdTimeSchedule.ReportType" value="@((int)SyncApp.Models.Enums.ReportTypesEnum.DailyReport)" />

                    <div class="form-group col-sm-6">
                        <label asp-for="FirstTimeSchedule.ScheduleHour" class="control-label">First Daily Report Hour</label>
                        <input asp-for="FirstTimeSchedule.ScheduleHour" class="form-control" min="0" max="23" required />
                    </div>

                    <div class="form-group col-sm-6">
                        <label asp-for="FirstTimeSchedule.ScheduleMinutes" class="control-label">First Daily Report Minute</label>
                        <input asp-for="FirstTimeSchedule.ScheduleMinutes" class="form-control" min="0" max="59" required />
                    </div>
                    <section id="dailyReport-content">
                        <h6>Daily Report Working Days</h6>

                        <input type="hidden" asp-for="FirstTimeSchedule.ReportType" value="@((int)SyncApp.Models.Enums.ReportTypesEnum.DailyReport)" />
                        <input type="hidden" asp-for="FirstTimeSchedule.TimeOfDay" value="@((int)SyncApp.Models.Enums.TimeOfDayEnum.FirstTime)" />

                        <hr />
                        <div class="container">
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label asp-for="FirstTimeSchedule.Saturday" class="control-label">Saturday</label>
                                    <input type="checkbox" class="" name="FirstTimeSchedule.Saturday" value="true" checked="@Model.FirstTimeSchedule?.Saturday" />
                                </div>
                                <div class="form-group col-sm-6" ?
                                    <label asp-for="FirstTimeSchedule.Sunday" class="control-label">Sunday</label>
                                    <input type="checkbox" class="" name="FirstTimeSchedule.Sunday" value="true" checked="@Model.FirstTimeSchedule?.Sunday" />
                                </div>
                                <div class="form-group col-sm-6">
                                    <label asp-for="FirstTimeSchedule.Monday" class="control-label">Monday</label>
                                    <input type="checkbox" class="" name="FirstTimeSchedule.Monday" value="true" checked="@Model.FirstTimeSchedule?.Monday" />
                                </div>
                                <div class="form-group col-sm-6">
                                    <label asp-for="FirstTimeSchedule.Tuesday" class="control-label">Tuesday</label>
                                    <input type="checkbox" class="" name="FirstTimeSchedule.Tuesday" value="true" checked="@Model.FirstTimeSchedule?.Tuesday" />
                                </div>
                                <div class="form-group col-sm-6">
                                    <label asp-for="FirstTimeSchedule.Wednesday" class="control-label">Wednesday</label>
                                    <input type="checkbox" class="" name="FirstTimeSchedule.Wednesday" value="true" checked="@Model.FirstTimeSchedule?.Wednesday" />
                                </div>
                                <div class="form-group col-sm-6">
                                    <label asp-for="FirstTimeSchedule.Thursday" class="control-label">Thursday</label>
                                    <input type="checkbox" class="" name="FirstTimeSchedule.Thursday" value="true" checked="@Model.FirstTimeSchedule?.Thursday" />
                                </div>
                                <div class="form-group col-sm-6">
                                    <label asp-for="FirstTimeSchedule.Friday" class="control-label">Friday</label>
                                    <input type="checkbox" class="" name="FirstTimeSchedule.Friday" value="true" checked="@Model.FirstTimeSchedule?.Friday" />
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <h5>Second Daily Report Schedule</h5>
            <hr />
            <div class="container">
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label asp-for="SecondTimeSchedule.ScheduleHour" class="control-label">Second Daily Report Hour</label>
                        <input asp-for="SecondTimeSchedule.ScheduleHour" class="form-control" min="0" max="23" required />
                    </div>

                    <div class="form-group col-sm-6">
                        <label asp-for="SecondTimeSchedule.ScheduleMinutes" class="control-label">Second Daily Report Minute</label>
                        <input asp-for="SecondTimeSchedule.ScheduleMinutes" class="form-control" min="0" max="59" required />
                    </div>
                    <section id="dailyReport-content">
                        <h6>Daily Report Working Days</h6>

                        <input type="hidden" asp-for="SecondTimeSchedule.ReportType" value="@((int)SyncApp.Models.Enums.ReportTypesEnum.DailyReport)" />
                        <input type="hidden" asp-for="SecondTimeSchedule.TimeOfDay" value="@((int)SyncApp.Models.Enums.TimeOfDayEnum.SecondTime)" />

                        <hr />
                        <div class="container">
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label asp-for="SecondTimeSchedule.Saturday" class="control-label">Saturday</label>
                                    <input type="checkbox" class="" name="SecondTimeSchedule.Saturday" value="true" checked="@Model.SecondTimeSchedule?.Saturday" />
                                </div>
                                <div class="form-group col-sm-6" ?
                                    <label asp-for="SecondTimeSchedule.Sunday" class="control-label">Sunday</label>
                                    <input type="checkbox" class="" name="SecondTimeSchedule.Sunday" value="true" checked="@Model.SecondTimeSchedule?.Sunday" />
                                </div>
                                <div class="form-group col-sm-6">
                                    <label asp-for="SecondTimeSchedule.Monday" class="control-label">Monday</label>
                                    <input type="checkbox" class="" name="SecondTimeSchedule.Monday" value="true" checked="@Model.SecondTimeSchedule?.Monday" />
                                </div>
                                <div class="form-group col-sm-6">
                                    <label asp-for="SecondTimeSchedule.Tuesday" class="control-label">Tuesday</label>
                                    <input type="checkbox" class="" name="SecondTimeSchedule.Tuesday" value="true" checked="@Model.SecondTimeSchedule?.Tuesday" />
                                </div>
                                <div class="form-group col-sm-6">
                                    <label asp-for="SecondTimeSchedule.Wednesday" class="control-label">Wednesday</label>
                                    <input type="checkbox" class="" name="SecondTimeSchedule.Wednesday" value="true" checked="@Model.SecondTimeSchedule?.Wednesday" />
                                </div>
                                <div class="form-group col-sm-6">
                                    <label asp-for="SecondTimeSchedule.Thursday" class="control-label">Thursday</label>
                                    <input type="checkbox" class="" name="SecondTimeSchedule.Thursday" value="true" checked="@Model.SecondTimeSchedule?.Thursday" />
                                </div>
                                <div class="form-group col-sm-6">
                                    <label asp-for="SecondTimeSchedule.Friday" class="control-label">Friday</label>
                                    <input type="checkbox" class="" name="SecondTimeSchedule.Friday" value="true" checked="@Model.SecondTimeSchedule?.Friday" />
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>

        <section id="tax-content">
            <h5>Tax Configurations</h5>
            <hr />
            <div class="container">
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label asp-for="Configurations.TaxPercentage" class="control-label">Tax Percentage <b>(%)</b></label>
                        <input asp-for="Configurations.TaxPercentage" class="form-control" />
                    </div>
                </div>
            </div>
        </section>

        <section id="recurring-content">
            <h5>Recurring Configurations</h5>
            <hr />
            <div class="container">
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label asp-for="Configurations.UseRecurringJob" class="control-label">Use Recurring Job</label>
                        <input type="checkbox" class="" name="Configurations.UseRecurringJob" value="true" checked="@Model.Configurations.UseRecurringJob" />
                    </div>
                </div>
            </div>
        </section>

        <div class="form-group col-sm-6">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>

    </form>



</body>
</html>
